USE [master]
GO
/****** Object:  Database [SIEleccionReinaDB]    Script Date: 16/8/2024 17:01:46 ******/
CREATE DATABASE [SIEleccionReinaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIEleccionReinaDB_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SIEleccionReinaDB.mdf' , SIZE = 16384KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SIEleccionReinaDB_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SIEleccionReinaDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIEleccionReinaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIEleccionReinaDB]
GO
/****** Object:  Table [dbo].[Álbumes]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Álbumes](
	[id_album] [int] IDENTITY(1,1) NOT NULL,
	[id_candidata] [int] NOT NULL,
	[titulo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_album] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidatas]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidatas](
	[id_candidata] [int] IDENTITY(1,1) NOT NULL,
	[id_carrera] [int] NOT NULL,
	[semestre] [int] NOT NULL,
	[cedula] [varchar](10) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[foto] [varchar](max) NULL,
	[fecha_nacimiento] [date] NULL,
	[edad] [int] NULL,
	[aspiraciones] [varchar](255) NULL,
	[intereses] [varchar](255) NULL,
	[habilidades] [varchar](255) NULL,
 CONSTRAINT [PK__Candidat__3CD1A87324DAA6F9] PRIMARY KEY CLUSTERED 
(
	[id_candidata] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[id_carrera] [int] IDENTITY(1,1) NOT NULL,
	[nombre_carrera] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[id_estudiante] [int] IDENTITY(1,1) NOT NULL,
	[semestre] [int] NULL,
	[id_carrera] [int] NULL,
	[cedula] [varchar](10) NULL,
	[contrasenia] [varchar](10) NULL,
	[id_rol_usuario] [numeric](3, 0) NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fotos]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fotos](
	[id_foto] [int] IDENTITY(1,1) NOT NULL,
	[id_album] [int] NOT NULL,
	[foto_Album] [varchar](max) NOT NULL,
	[titulo_foto] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[comentario] [varchar](50) NULL,
 CONSTRAINT [PK__Fotos__620EA3A5D8EFB3EF] PRIMARY KEY CLUSTERED 
(
	[id_foto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Usuario]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Usuario](
	[ID_ROL_USUARIO] [numeric](3, 0) IDENTITY(1,1) NOT NULL,
	[ROL_NAME] [varchar](15) NOT NULL,
	[ROL_ESTADO_ACTIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ROL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votos]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votos](
	[id_voto] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_candidata] [int] NOT NULL,
	[tipo_voto] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_voto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rol_Usuario] ADD  DEFAULT ((1)) FOR [ROL_ESTADO_ACTIVO]
GO
ALTER TABLE [dbo].[Álbumes]  WITH CHECK ADD  CONSTRAINT [FK__Álbumes__id_cand__2B3F6F97] FOREIGN KEY([id_candidata])
REFERENCES [dbo].[Candidatas] ([id_candidata])
GO
ALTER TABLE [dbo].[Álbumes] CHECK CONSTRAINT [FK__Álbumes__id_cand__2B3F6F97]
GO
ALTER TABLE [dbo].[Candidatas]  WITH CHECK ADD  CONSTRAINT [FK__Candidata__id_ca__35BCFE0A] FOREIGN KEY([id_carrera])
REFERENCES [dbo].[Carreras] ([id_carrera])
GO
ALTER TABLE [dbo].[Candidatas] CHECK CONSTRAINT [FK__Candidata__id_ca__35BCFE0A]
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Carreras] FOREIGN KEY([id_carrera])
REFERENCES [dbo].[Carreras] ([id_carrera])
GO
ALTER TABLE [dbo].[Estudiante] CHECK CONSTRAINT [FK_Estudiante_Carreras]
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD  CONSTRAINT [FK_ROL_USUARIO] FOREIGN KEY([id_rol_usuario])
REFERENCES [dbo].[Rol_Usuario] ([ID_ROL_USUARIO])
GO
ALTER TABLE [dbo].[Estudiante] CHECK CONSTRAINT [FK_ROL_USUARIO]
GO
ALTER TABLE [dbo].[Fotos]  WITH CHECK ADD  CONSTRAINT [FK__Fotos__id_album__2E1BDC42] FOREIGN KEY([id_album])
REFERENCES [dbo].[Álbumes] ([id_album])
GO
ALTER TABLE [dbo].[Fotos] CHECK CONSTRAINT [FK__Fotos__id_album__2E1BDC42]
GO
ALTER TABLE [dbo].[Votos]  WITH CHECK ADD  CONSTRAINT [FK__Votos__id_candid__31EC6D26] FOREIGN KEY([id_candidata])
REFERENCES [dbo].[Candidatas] ([id_candidata])
GO
ALTER TABLE [dbo].[Votos] CHECK CONSTRAINT [FK__Votos__id_candid__31EC6D26]
GO
ALTER TABLE [dbo].[Votos]  WITH CHECK ADD  CONSTRAINT [FK__Votos__id_estudi__30F848ED] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[Estudiante] ([id_estudiante])
GO
ALTER TABLE [dbo].[Votos] CHECK CONSTRAINT [FK__Votos__id_estudi__30F848ED]
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_ALBUMES]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CRUD_ALBUMES] 
	-- Add the parameters for the stored procedure here
	@id_crud INT,
	@id_album INT,
	@id_candidata INT,	
	@titulo varchar(50)
	
AS
BEGIN 
	
	SET NOCOUNT ON;

	IF (@id_crud = 1) --Consulta
	BEGIN
		SELECT * FROM Álbumes
	END

	IF (@id_crud = 5) --Consulta Titulo
	BEGIN
		SELECT id_album, titulo FROM Álbumes
	END

	IF (@id_crud = 2) --Insertar
	BEGIN
		insert into Álbumes(id_candidata, titulo)
		values(@id_candidata, @titulo)
	END

	IF (@id_crud = 3) --Modificar
	BEGIN
		 UPDATE Álbumes SET id_candidata= @id_candidata, titulo = @titulo WHERE id_album = @id_album; 		
	END

	IF (@id_crud = 4) --Eliminar
	BEGIN
		 DELETE FROM Álbumes WHERE id_album = @id_album; 		
	END

    -- Insert statements for procedure here

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_CANDIDATA]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author de Actualizacion: ClarkCodes
-- Description:	Actualizacion debido a reforma estructural de la BD
-- =============================================
CREATE PROCEDURE [dbo].[SP_CRUD_CANDIDATA] 
	-- Add the parameters for the stored procedure here
	@id_crud          INT,
	@id_candidata     INT		    = 0,
	@id_carrera       INT			= 0,
	@semestre         INT		    = 0,
	@cedula           VARCHAR (10)	= '',
	@nombres          VARCHAR (50)	= '',
	@apellidos        VARCHAR (50)	= '',
	@foto             VARCHAR (max) = '',
	@fecha_nacimiento DATE	        = '1900-01-01',
	@edad             INT           = 0,
	@aspiraciones     VARCHAR (255) = '',
	@intereses        VARCHAR (255) = '',
	@habilidades      VARCHAR (255) = ''
	
AS
BEGIN 
	SET NOCOUNT ON;

	IF (@id_crud = 0) --Consulta Individual
	BEGIN
		--SELECT * FROM Candidatas WHERE id_candidata = @id_candidata 
		SELECT	id_candidata, 
				A.id_carrera , 
				B.nombre_carrera,
				semestre,
				cedula, 
				nombres, 
				apellidos, 
				foto, 
				fecha_nacimiento, 
				edad, 
				aspiraciones, 
				intereses, 
				habilidades 
		FROM	Candidatas A
				INNER JOIN Carreras B ON (A.id_carrera = B.id_carrera)
		WHERE	id_candidata = @id_candidata  
	END

	IF (@id_crud = 1) --Consulta Todas
	BEGIN
		SELECT	id_candidata, 
				A.id_carrera , 
				B.nombre_carrera,
				semestre,
				cedula, 
				nombres, 
				apellidos, 
				foto, 
				fecha_nacimiento, 
				edad, 
				aspiraciones, 
				intereses, 
				habilidades 
		FROM	Candidatas A
				INNER JOIN Carreras B ON (B.id_carrera = A.id_carrera)
	END

	IF (@id_crud = 2) --Insertar
	BEGIN
		insert into Candidatas(id_carrera, semestre, cedula, nombres, 
		apellidos, foto, fecha_nacimiento, edad, aspiraciones, intereses, habilidades)
		values(@id_carrera, @semestre, @cedula, @nombres, @apellidos, 
		@foto, @fecha_nacimiento, @edad, @aspiraciones, @intereses, @habilidades)
	END

	IF (@id_crud = 3) --Modificar
	BEGIN
		 UPDATE Candidatas SET id_carrera = @id_carrera, semestre = @semestre, cedula = @cedula,
		 nombres = @nombres, apellidos = @apellidos, foto = @foto, fecha_nacimiento = @fecha_nacimiento,
		 edad = @edad, aspiraciones = @aspiraciones, intereses = @intereses, habilidades = @habilidades
		 WHERE id_candidata = @id_candidata; 		
	END

	IF (@id_crud = 4) --Eliminar
	BEGIN
		 DELETE FROM Candidatas WHERE id_candidata = @id_candidata; 		
	END
	
	IF (@id_crud = 5) --Consulta Todas Corta Id, Nombres, Apellidos
	BEGIN
		SELECT id_candidata, nombres, apellidos FROM Candidatas
	END

	IF (@id_crud = 6) --Verificar con la cedula si la candidata ya existe
	BEGIN
		SELECT CAST(
			CASE 
				WHEN EXISTS( SELECT * FROM Candidatas WHERE cedula = @cedula )
			THEN 1 
			ELSE 0 
			END 
		AS BIT) AS HasRecords;
	END

	IF (@id_crud = 7) --Consulta Individual de solo el Id usando la cedula, esto cuando se agrega una nueva candidata para agregarla a la lista
	BEGIN
		SELECT id_candidata FROM Candidatas WHERE cedula = @cedula;
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_CARRERA]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CRUD_CARRERA] 
	-- Add the parameters for the stored procedure here
	@id_crud INT,
	@id_carrera INT,
	@nombre_carrera varchar(50)
	
AS
BEGIN 
	
	SET NOCOUNT ON;

	IF (@id_crud = 0) --Consulta
	BEGIN
		SELECT * FROM Carreras
	END

	IF (@id_crud = 1) --Insertar
	BEGIN
		insert into Carreras(nombre_carrera)
		values(@nombre_carrera)
	END

	IF (@id_crud = 2) --Modificar
	BEGIN
		 UPDATE Carreras SET nombre_carrera= @nombre_carrera WHERE id_carrera = @id_carrera; 		
	END

	IF (@id_crud = 3) --Eliminar
	BEGIN
		 DELETE FROM Carreras WHERE id_carrera = @id_carrera; 		
	END

    -- Insert statements for procedure here

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_ESTUDIANTE]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ClarkCodes
-- Create date: 2024/08/2
-- Description:	Reforma y Adaptacion del SP a la forma de funcionalidad actual para compatibilidad con la App
-- =============================================
CREATE PROCEDURE [dbo].[SP_CRUD_ESTUDIANTE] 
	-- Add the parameters for the stored procedure here
	@id_crud        INT, 
	@id_estudiante  INT		     = 0,
	@id_carrera     INT			 = 0,
	@semestre       INT		     = 0,
	@cedula         VARCHAR(10)  = '',
	@contrasenia    VARCHAR(10)  = '',
	@id_rol_usuario NUMERIC(3,0) = 0 ,
	@nombres        VARCHAR(50)  = '',
	@apellidos      VARCHAR(50)  = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF (@id_crud = 0) --Consulta
	BEGIN
		SELECT * FROM Estudiante
	END

	IF (@id_crud = 1) --Validacion de Usuario en Inicio de Sesion Login
	BEGIN
		SELECT * FROM Estudiante WHERE cedula = @cedula AND contrasenia = @contrasenia AND id_rol_usuario = @id_rol_usuario;
	END

	IF (@id_crud = 2) --Consulta por Roles
	BEGIN
		-- SELECT id_estudiante, rol_usuario FROM Estudiante 
		SELECT MAX(id_estudiante) id_estudiante, cedula, ru.ROL_NAME 
		FROM Estudiante est 
		inner join Rol_Usuario  ru
		ON ru.ID_ROL_USUARIO = est.id_rol_usuario 
		GROUP BY ru.ROL_NAME, est.cedula, est.id_estudiante;

	END

	IF (@id_crud = 3) --Insertar
	BEGIN
		insert into Estudiante ( id_carrera, semestre, cedula, contrasenia, id_rol_usuario, nombres, apellidos )
		values( @id_carrera, @semestre, @cedula, @contrasenia, @id_rol_usuario, @nombres, @apellidos)
	END

	IF (@id_crud = 4) --Modificar
	BEGIN
		 UPDATE Estudiante SET id_carrera = @id_carrera, semestre = @semestre, cedula = @cedula, 
		 contrasenia = @contrasenia, id_rol_usuario = @id_rol_usuario, nombres = @nombres, apellidos = @apellidos
		 WHERE id_estudiante = @id_estudiante; 		
	END

	IF (@id_crud = 5) --Eliminar
	BEGIN
		 DELETE FROM Estudiante WHERE id_estudiante = @id_estudiante; 		
	END

	IF (@id_crud = 6) --Verificar con la cedula si el estudiante ya existe
	BEGIN
		SELECT CAST(
			CASE 
				WHEN EXISTS( SELECT * FROM Estudiante WHERE cedula = @cedula )
			THEN 1 
			ELSE 0 
			END 
		AS BIT) AS HasRecords;
	END
    -- Insert statements for procedure here
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_FOTO]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_FOTO] 
	-- Add the parameters for the stored procedure here
	@id_crud INT,
	@id_foto INT,
	@foto_Album VARCHAR(MAX),
	@id_album INT,
	@titulo_foto VARCHAR (50),
	@descripcion VARCHAR(255),
	@comentario VARCHAR (50)
	
AS
BEGIN 
	
	SET NOCOUNT ON;

	IF (@id_crud = 1) --Consulta
	BEGIN
		SELECT * FROM Fotos
	END

	IF (@id_crud = 2) --Insertar
	BEGIN
		insert into Fotos(id_album, foto_Album, titulo_foto, descripcion, comentario)
		values(@id_album, @foto_Album, @titulo_foto, @descripcion, @comentario)
	END

	IF (@id_crud = 3) --Modificar
	BEGIN
		 UPDATE Fotos SET id_album = @id_album, foto_Album = @foto_Album, titulo_foto = @titulo_foto, descripcion = @descripcion, comentario = @comentario WHERE id_foto = @id_foto; 		
	END

	IF (@id_crud = 4) --Eliminar
	BEGIN
		 DELETE FROM Fotos WHERE id_foto = @id_foto; 		
	END

    -- Insert statements for procedure here

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_VOTO]    Script Date: 16/8/2024 17:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CRUD_VOTO] 
	-- Add the parameters for the stored procedure here
	@id_crud INT,
	@id_voto INT,
	@id_estudiante INT,
	@id_candidata INT,
	@tipo_voto VARCHAR (50)
	
AS
BEGIN 
	
	SET NOCOUNT ON;

	IF (@id_crud = 0) -- Consulta Individual por estudiante de voto existente 
	BEGIN
		SELECT CAST(
			CASE 
				WHEN EXISTS( SELECT * FROM Votos WHERE id_estudiante = @id_estudiante AND tipo_voto = @tipo_voto )
			THEN 1 
			ELSE 0 
			END 
		AS BIT) AS HasRecords;
	END

	IF (@id_crud = 1) -- Consulta
	BEGIN
		SELECT * FROM Votos
	END

	IF (@id_crud = 2) -- Insertar
	BEGIN
		insert into Votos (id_estudiante, id_candidata, tipo_voto)
		values(@id_estudiante, @id_candidata, @tipo_voto)
	END

	IF (@id_crud = 3) -- Modificar
	BEGIN
		 UPDATE Votos SET id_estudiante = @id_estudiante, id_candidata = @id_candidata, tipo_voto = @tipo_voto WHERE id_voto = @id_voto; 		
	END

	IF (@id_crud = 4) -- Eliminar
	BEGIN
		 DELETE FROM Votos WHERE id_voto = @id_voto; 		
	END

    -- Insert statements for procedure here

END
GO
USE [master]
GO
